In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("Health-Tweets/bbchealth.txt", sep="|", names=['id','timestampd','tweet'])

In [6]:
data.head()

,id,timestampd,tweet
0,585978391360221184,Thu Apr 09 01:31:50 +0000 2015,Breast cancer risk test devised http://bbc.in/...
1,585947808772960257,Wed Apr 08 23:30:18 +0000 2015,GP workload harming care - BMA poll http://bbc...
2,585947807816650752,Wed Apr 08 23:30:18 +0000 2015,Short people's 'heart risk greater' http://bbc...
3,585866060991078401,Wed Apr 08 18:05:28 +0000 2015,New approach against HIV 'promising' http://bb...
4,585794106170839041,Wed Apr 08 13:19:33 +0000 2015,Coalition 'undermined NHS' - doctors http://bb...

In [8]:
data = data.drop(['id','timestampd'], axis=1)

In [9]:
data

                                                  tweet
0     Breast cancer risk test devised http://bbc.in/...
1     GP workload harming care - BMA poll http://bbc...
2     Short people's 'heart risk greater' http://bbc...
3     New approach against HIV 'promising' http://bb...
4     Coalition 'undermined NHS' - doctors http://bb...
...                                                 ...
3924  Baby born after ovaries 'reawakened' http://bb...
3925  Identical triplets born against odds http://bb...
3926  Hospital failed to make improvements http://bb...
3927  New patient targets pledge for NHS http://bbc....
3928  C. diff 'manslaughter' inquiry call http://bbc...

[3929 rows x 1 columns]